<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		 <!-- Orden manual: Asesorías antes que Recetas -->
        <li><a href="{{ '/asesoriasnutricionales.html' | absolute_url }}">Asesorías nutricionales</a></li>
        <li><a href="{{ '/recetas.html' | absolute_url }}">Recetas</a></li>
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="https://easyweek.io/carla-cicchitti-nutricion-deportiva" class="button special fit">Comenzar planificación</a></li>
		<li><a href="Servicios.html" class="button fit">Consultar precios</a></li>
	</ul>
</nav>
